altgraph==0.17.4
bleak==0.22.3
certifi==2025.7.14
charset-normalizer==3.4.2
click==8.2.1
customtkinter==5.2.2
darkdetect==0.8.0
decorator==5.2.1
future==1.0.0
geocoder==1.38.1
idna==3.10
macholib==1.16.3
meshtastic==2.6.4
packaging==24.2
parse==1.20.2
pillow==10.4.0
protobuf==6.31.1
pyinstaller==6.14.2
pyinstaller-hooks-contrib==2025.6
pyobjc-core==10.3.2
pyobjc-framework-Cocoa==10.3.2
pyobjc-framework-CoreBluetooth==10.3.2
pyobjc-framework-libdispatch==10.3.2
pyperclip==1.9.0
Pypubsub==4.0.3
pyserial==3.5
PyYAML==6.0.2
ratelim==0.1.6
requests==2.32.4
setuptools==80.9.0
six==1.17.0
tabulate==0.9.0
tkintermapview==1.29
ttkbootstrap==1.14.0
urllib3==2.5.0
